@use 'variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: vars.$color-background-light;
}

.menu-horizontal{
    display: flex;
    background-color: vars.$color-primary-dark;
    color: vars.$color-gray-text;
}
.container-menu{
    padding: 20px;
    width: 100%;
}