@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

:root {
  --color-bg: #ffffff;
  --color-primary: #8352FD;
  --color-secondary: #39FF14;
  --color-text: #1a1a1a;
  --color-surface: rgba(0, 0, 0, 0.05);
  --color-bg-secondary: #f3f4f6;
  --color-bg-tertiary: #ffffff;
  --color-text-muted: #1f2937;
}

:root[data-theme="dark"] {
  --color-bg: #050505;
  --color-primary: #8352FD;
  --color-secondary: #39FF14;
  --color-text: #F0F0F0;
  --color-surface: rgba(255, 255, 255, 0.05);
  --color-bg-secondary: #111111;
  --color-bg-tertiary: #000000;
  --color-text-muted: #d1d5db;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
  cursor: none;
}

* {
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, fill 0.5s ease;
  cursor: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}